/* IMPORTING GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color-gray: hsl(255, 31%, 95%);
    --color-primary: hsl(252, 86%, 59%);
    --color-white: hsl(252, 30%, 100%);
}

*{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 98vw;
}

.container .header{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
}

.container .header img{
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* margin-left: 25%; */
    z-index: 1;
}

.profile{
    padding-left: 5%;
    z-index: 0.1;
}

.profile-image{
    overflow:hidden;
}

.container .header .profile > span{
    display: inline;
    padding-top: 2rem;
    padding-right: 3rem;
    margin-left: 0;
}

.container .header .profile > span a{
    text-decoration: none;
    color: black;
}

.body{
    margin: 1rem 0;

}

.user{
    /* margin-top: 1rem; */
    padding: 1rem 0;
}

.body .btn{
    width: 100vw;
    border: 2px solid var(--color-gray);
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.body a{
    text-decoration: none;
    text-align: center;
}

.body .friend{
    padding: 1rem;
    margin-left: 30rem;
}

.body .btn-warning:hover{
    background-color: red;
}

.body .friend .request{
    display: flex;
}

.body .request .req{
    padding-left: 1rem;
    padding-right: 1rem;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    column-gap: 0.2rem;
    margin: auto;
}

.posts .post{
    width: 21rem;
    height: 13rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    padding: 1rem 1rem;
}

.posts .post img{
    width: 100%;
    height: 100%;
    vertical-align: center;
}

hr{
    width: 83%;
    margin: auto;
    size: 20px;
    height: 2px;
    background-color: black;
}

